<div class="container-fluid bg">
    <div class="row ">
        <div class="col-lg-4">
            <img src="assets/img/logo1.png">
            
            <p class="text-justify">गोरखपुर के क्रिकेट खिलाड़ियों को समुचित माहौल व सुविधा प्रदान कर उन्हे राष्ट्रीय व अंतर्राष्ट्रीय फलक पर मजबूती से स्थापित करने के मा0 मुख्यमंत्री जी के विचारों को चरितार्थ करने हेतु<b> गोरखपुर क्रिकेट महोत्सव </b>का आयोजन किया जा रहा है ।</p>
            <p class="text-justify"> इसके तहत सर्वप्रथम् जनपद के चार विकास खंडों यथा गोला,खजनी,जंगल कौड़िया व भरोहिया का चयन किया गया है ।</p>
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-4 py-3">
           <h5>Contact Us</h5>
           <hr>
           <ul style="list-style-type: none;" class="py-3">
               <li><i class="fa fa-map-marker"></i>&nbsp;कार्यालय - जिला युवा कल्याण एवं प्रांतीय विकास दल विभाग,
                द्वितीय तल ,विकास भवन, गोरखपुर
                </li>
               <li><i class="fa fa-map-marker"></i>&nbsp; रीजनल स्पोर्ट्स स्टेडियम गोरखपुर</li>
                <li><i class="fa fa-phone"></i>&nbsp;9839718822, 9889363300</li>
                <li><i class="fa fa-envelope-square"></i>&nbsp;gkpt20@gmail.com</li>
                <li><i class="fa fa-globe"></i>&nbsp;<a href="http://www.gkpt20.com">www.gcmt20.com</a></li>
            </ul>
          
           
        </div>
        <div class="col-lg-4 py-3">
            <h5>Facebook Page </h5>
            <hr>
            <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%25E0%25A4%2597%25E0%25A5%258B%25E0%25A4%25B0%25E0%25A4%2596%25E0%25A4%25AA%25E0%25A5%2581%25E0%25A4%25B0-%25E0%25A4%2595%25E0%25A5%258D%25E0%25A4%25B0%25E0%25A4%25BF%25E0%25A4%2595%25E0%25A5%2587%25E0%25A4%259F-%25E0%25A4%25AE%25E0%25A4%25B9%25E0%25A5%258B%25E0%25A4%25A4%25E0%25A5%258D%25E0%25A4%25B8%25E0%25A4%25B5-104957178614446&tabs=timeline&width=340&height=187&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=577539319568996" width="340" height="187" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
            <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%25E0%25A4%2597%25E0%25A5%258B%25E0%25A4%25B0%25E0%25A4%2596%25E0%25A4%25AA%25E0%25A5%2581%25E0%25A4%25B0-%25E0%25A4%2595%25E0%25A5%258D%25E0%25A4%25B0%25E0%25A4%25BF%25E0%25A4%2595%25E0%25A5%2587%25E0%25A4%259F-%25E0%25A4%25AE%25E0%25A4%25B9%25E0%25A5%258B%25E0%25A4%25A4%25E0%25A5%258D%25E0%25A4%25B8%25E0%25A4%25B5-104957178614446&tabs=timeline&width=340&height=410&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=577539319568996" width="340" height="240" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%25E0%25A4%2597%25E0%25A5%258B%25E0%25A4%25B0%25E0%25A4%2596%25E0%25A4%25AA%25E0%25A5%2581%25E0%25A4%25B0-%25E0%25A4%2595%25E0%25A5%258D%25E0%25A4%25B0%25E0%25A4%25BF%25E0%25A4%2595%25E0%25A5%2587%25E0%25A4%259F-%25E0%25A4%25AE%25E0%25A4%25B9%25E0%25A5%258B%25E0%25A4%25A4%25E0%25A5%258D%25E0%25A4%25B8%25E0%25A4%25B5-104957178614446&tabs=timeline&width=340&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=577539319568996" width="340" height="250" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
       
        <div class="row">
       
            <div class="col">
    
                <p class="text-center ">&copy;2022-22 Gorakhpur Cricket Mahotsav. Design and Developed by <a href="http://www.swastikainfotech.com">Swastika Infotech</a></p>
            </div>
        </div>
    </div>
    
</div>