<!-- <div class="container-fluid">
    <div class="row">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/about.jpg" class="d-block w-100" alt="...">
            
            </div>
            </div>
    </div>
    </div> -->
<div class="container">
    <div class="row py-3">
        <div class="col">
            <h2 class="text-center"> जिला स्तरीय तकनीकी समिति</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                    <th>क्रम संख्या</th>
                    
                    <th> नाम  </th>
                    <th> पदनाम</th>
                    <th>कार्यालय का पता</th>
                    <th>संपर्क सूत्र</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>श्रीमती रीना सिंह </td>
                        <td>जिला PTI, बेसिक शिक्षा विभाग</td>
                        <td rowspan="10">रीजनल स्पोर्ट्स स्टेडियम
                            गोरखपुर
                            
                            </td>
                        <td>7408073153</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>श्री आले हैदर</td>
                        <td>क्षेत्रीय क्रीडाधिकारी </td>
                        
                        <td>8467905661</td>
                        
                    </tr>
                    <tr>
                        <td>3 </td>
                        <td>श्री एखलाक अहमद </td>
                        <td>प्रतिष्ठित कोच</td>
                       
                        <td>9415825998</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>श्री रंजीत यादव </td>
                        <td>प्रतिष्ठित क्रिकेट खिलाड़ी</td>
                        
                        <td>9792386180</td>
                        
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>श्री राजेन्द्र प्रसाद</td>
                        <td>पूर्व रणजी खिलाड़ी</td>
                      
                        <td>9889291150</td>
                        
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>श्री राकेश कन्नौजिया</td>
                        <td>पूर्व रणजी खिलाड़ी</td>
                      
                        <td>9956656625</td>
                        
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>श्री मिर्जा मेहदी हसन</td>
                        <td>पूर्व क्रिकेट खिलाड़ी</td>
                      
                        <td></td>
                        
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>श्री अजय सिंह</td>
                        <td>स्टेडियम कोच</td>
                      
                        <td>9839718822</td>
                        
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>श्री नृपेन्द्र मणि त्रिपाठी</td>
                        <td>पूर्व क्रिकेट खिलाड़ी</td>
                      
                        <td>8081215680</td>
                        
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>श्री विशाल पांडे</td>
                        <td>पूर्व खिलाड़ी रेलवे </td>
                      
                        <td>9889224433</td>
                        
                    </tr>
                   
                  
                </tbody>
            </table>
        </div>
    </div>
</div>


