<div class="container">
    <div class="row py-3">
        <div class="col">
            <img src="assets/img/gcm.png" />
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <ul style="list-style-type: none;">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                
            </ul>
        </div>
    </div>
</div>

