<div class="container">
        <div class="row">
            <div class="col-lg-3 form-group py-1">
                <label>Block </label>
                <select class="form-control">
                    <option  *ngFor="let country of countries" [value]="country">{{country}} </option>
                    
                   
            </select>
                              
               
            </div>

            <div class="col-lg-3 form-group py-1">
                <label>Nyay Panchyat </label>
                <select class="form-control">
                    <option *ngFor="let city of cities" [value]="city" >{{city}}</option>
                    
                   
            </select>                                
            </div>
            <div class="col-lg-3 form-group py-1">
                <label>Gram Panchyat </label>
                <select class="form-control" formControlName="GramPanchyat">
                    <option value="undefined" >Select Nyay Panchayt</option>
                    <option>Khajani</option>
                    <option>Gola</option>
                    <option>Jungle Kaudia</option>
                    <option>Chargawa</option>
                   
            </select>                                
            </div>
        </div>
    </div>

