<!-- <div class="container-fluid">
    <div class="row">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/about.jpg" class="d-block w-100" alt="...">
            
            </div>
            </div>
    </div>
    </div> -->
<div class="container">
    <div class="row py-3">
        <div class="col">
            <h2 class="text-center">विकास खंड स्तरीय नोडल अधिकारी</h2>
        </div>
    </div>
    <div class="row py-3">

        
        <div class="col">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                    <th>क्रम संख्या</th>
                    <th>विकास खंड </th>
                    <th> नाम  </th>
                    <th> पदनाम</th>
                    <th>संपर्क सूत्र</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>खोराबार </td>
                        <td>श्री राकेश चंद्र शुक्ल</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9125930154</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>भटहट</td>
                        <td>श्री तबारक </td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9559206848</td>
                        
                    </tr>
                    <tr>
                        <td>3 </td>
                        <td>चरगावा </td>
                        <td>श्री रणजीत शाही</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9919037892</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>गोला </td>
                        <td>श्री सर्वेश कुमार तिवारी</td>
                        <td>व्यायाम प्रशिक्षक </td>
                        <td>9565148609</td>
                        
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>उरुवा</td>
                        <td>श्री सर्वेश कुमार तिवारी</td>
                        <td>व्यायाम प्रशिक्षक</td>
                        <td>9565148609</td>
                        
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>सरदारनगर </td>
                        <td>श्री अरुण कुमार सिंह</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>7985947702</td>
                        
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>कौड़ीराम</td>
                        <td>श्री अरुण कुमार सिंह</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>7985947702</td>
                        
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>कैम्पियरगंज</td>
                        <td>श्री विनोद कुमार चौधरी</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>8318994960</td>
                        
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>भरोहिया </td>
                        <td>श्री विनोद कुमार चौधरी</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>8318994960</td>
                        
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>सहजनवा</td>
                        <td>श्री देवेश कुमार</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9871056149</td>
                        
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>पाली </td>
                        <td>श्री देवेश कुमार</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9871056149</td>
                        
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>पिपरौली</td>
                        <td>श्री दिलीप कुमार</td>
                        <td>क्षे0यु0क0अ0</td>
                        
                        <td>9454028130</td>
                        
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>खजनी </td>
                        <td>श्री दिलीप कुमार</td>
                        <td>क्षे0यु0क0अ0</td>
                        
                        <td>9454028130</td>
                        
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>बासगाँव </td>
                        <td>श्री विप्लव कुमार गुप्ता</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9448155985</td>
                        
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>बेलघाट </td>
                        <td>श्री विप्लव कुमार गुप्ता</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>9448155985</td>
                        
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>गगहा</td>
                        <td>श्री आशीष सिंह</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>7236989789</td>
                        
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>बड़हलगंज</td>
                        <td>श्री आशीष सिंह</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>7236989789</td>
                        
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>ब्रह्पुर</td>
                        <td>श्री सुनील कुमार गुप्ता</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>8448825016</td>
                        
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>पिपराइच </td>
                        <td>ज्योत्सना सिंह</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>7007510250</td>
                        
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>जंगल कौड़िया </td>
                        <td>रूबी तिवारी</td>
                        <td>क्षे0यु0क0अ0</td>
                        <td>7704076570</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
