<div class="container">


<div class="row py-3">
    <div class="col-lg-12">
        <h2>                                                    गोरखपुर क्रिकेट महोत्सव    </h2>
        <p class="text-justify">पूर्वाञ्चल के कुल जनसंख्या मे बहुत बड़ा हिस्सा युवाओ का ही है, यहा  खेल व खिलाड़ियों के विकास की असीम संभावना है । विदित हो कि पूर्वाञ्चल के युवाओ की  विभिन्न खेलों मे राष्ट्रीय व अंतर्राष्ट्रीय स्तर पर सहभागिता संतोषजनक नहीं है। यहाँ तक कि देश के सबसे लोकप्रिय खेल क्रिकेट मे भी पूर्वाञ्चल के खिलाड़ियों की सहभागिता शीर्ष स्तर पर नगण्य है । वर्तमान मे प्रदेश की रणजी क्रिकेट टीम मे भी पूर्वाञ्चल के क्रिकेट खिलाड़ियों का कोई स्थान नहीं है ।  अतः खेल सुविधाओ का विकास व खिलाड़ियों को उनकी प्रतिभा को निखारने हेतु उचित मंच उपलब्ध कराना अत्यंत ही आवश्यक है । </p>
        <p class="text-justify"> जनपद गोरखपुर के क्रिकेट खिलाड़ियों को समुचित माहौल व सुविधा प्रदान कर उन्हे राष्ट्रीय व अंतर्राष्ट्रीय फलक पर मजबूती से स्थापित करने के मा0 मुख्यमंत्री जी के विचारों  को चरितार्थ करने हेतु<b> गोरखपुर क्रिकेट महोत्सव </b> का आयोजन किया जा रहा है । इसके तहत सर्वप्रथम् जनपद के चार विकास खंडों यथा <b> गोला,खजनी,जंगल कौड़िया व भरोहिया </b> का चयन किया गया है । बाद मे जनपद के समस्त विकास खंडों के ग्राम पंचायतों को इस वृहद   प्रतियोगिता मे सम्मिलित किया जाएगा । </p>
    </div>
    <!-- <div class="col-lg-4">
        
    </div> -->
</div>
</div>
