<!-- <div class="container-fluid">
    <div class="row">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/about.jpg" class="d-block w-100" alt="...">
             
            </div>
            </div>
    </div>
    </div> -->
    <div class="container">
    <div class="row py-3">
        <div class="col">
            <h2 class="text-center">जिला स्तरीय प्रशासनिक समिति </h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                    <th>क्रम संख्या</th>
                    
                    <th> नाम  </th>
                    <th> पदनाम</th>
                    <th>कार्यालय का पता /नोडल कार्यालय</th>
                    <th>संपर्क सूत्र</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>श्री अमित कुमार सिंह </td>
                        <td>जिला युवा कल्याण एवं प्रा0 वि 0द0 अधिकारी</td>
                        <td rowspan="5">कार्यालय जिला युवा कल्याण एवं प्रांतीय विकास दल विभाग,
                            द्वितीय तल ,विकास भवन, गोरखपुर
                            </td>
                        <td>7800380380</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>श्री आले हैदर</td>
                        <td>क्षेत्रीय क्रीडाधिकारी </td>
                        
                        <td>8467905661</td>
                        
                    </tr>
                    <tr>
                        <td>3 </td>
                        <td>सीमा पांडे </td>
                        <td>जिला समन्वयक,नेहरू युवा केंद्र</td>
                       
                        <td>8299805694</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>श्री आर के सिंह </td>
                        <td>जिला बेसिक शिक्षा अधिकारी</td>
                        
                        <td>9450579104</td>
                        
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>श्री आशीष श्रीवास्तव</td>
                        <td>अनुभाग अधिकारी जिला पंचायत</td>
                      
                        <td>8181838344</td>
                        
                    </tr>
                   
                  
                </tbody>
            </table>
        </div>
    </div>
</div>

