<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <app-slider></app-slider>
        </div>
        <div class="col-lg-4">
            <h2>Today's Match </h2>
        <h5 class=" text-danger">Khajani Block </h5>
        <ul style="list-style-type: none;">
            <li>Team 1 vs Team2</li>
            <li>Team 3 vs Team4</li>
            <li>Team 5 vs Team6</li>
            
        </ul>
        <h5 class=" text-danger">Jungle Kaudia </h5>
        <ul style="list-style-type: none;">
            <li>Team 1 vs Team2</li>
            <li>Team 3 vs Team4</li>
            <li>Team 5 vs Team6</li>
            
        </ul>
        </div>
    </div> 
</div>

<app-intro></app-intro>
