<!-- <div class="container-fluid">
    <div class="row">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/about.jpg" class="d-block w-100" alt="...">
             
            </div>
            </div>
    </div>
    </div> -->
<div class="container">
    <div class="row py-3">
        <div class="col">
            <h2>गोरखपुर क्रिकेट महोत्सव</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <p>पूर्वाञ्चल के कुल जनसंख्या मे बहुत बड़ा हिस्सा युवाओ का ही है, यहा  खेल व खिलाड़ियों के विकास की असीम संभावना है । विदित हो कि पूर्वाञ्चल के युवाओ की  विभिन्न खेलों मे राष्ट्रीय व अंतर्राष्ट्रीय स्तर पर सहभागिता संतोषजनक नहीं है। यहाँ तक कि देश के सबसे लोकप्रिय खेल क्रिकेट मे भी पूर्वाञ्चल के खिलाड़ियों की सहभागिता शीर्ष स्तर पर नगण्य है । वर्तमान मे प्रदेश की रणजी क्रिकेट टीम मे भी पूर्वाञ्चल के क्रिकेट खिलाड़ियों का कोई स्थान नहीं है ।  अतः खेल सुविधाओ का विकास व खिलाड़ियों को उनकी प्रतिभा को निखारने हेतु उचित मंच उपलब्ध कराना अत्यंत ही आवश्यक है । </p>
            <p>उक्त के मद्देनजर, जनपद गोरखपुर के क्रिकेट खिलाड़ियों को समुचित माहौल व सुविधा प्रदान कर उन्हे राष्ट्रीय व अंतर्राष्ट्रीय फलक पर मजबूती से स्थापित करने के मा0 मुख्यमंत्री जी के विचारों  को चरितार्थ करने हेतु गोरखपुर क्रिकेट महोत्सव  का आयोजन किया जा रहा है । इसके तहत सर्वप्रथम् जनपद के चार विकास खंडों यथा गोला,खजनी,जंगल कौड़िया व भरोहिया का चयन किया गया है । बाद मे जनपद के समस्त विकास खंडों के ग्राम पंचायतों को इस वृहद   प्रतियोगिता मे सम्मिलित किया जाएगा । </p>
            <h5>उक्त आयोजित होने वाली क्रिकेट प्रतियोगिता की रूपरेखा कुछ इस प्रकार होगी</h5>
            <ul>
                <li>
                  यह एक लेदर बाल U-19, T-20 प्रतियोगिता होगी जिसमे 11 से 19 वर्ष तक के जनपद गोरखपुर के शहरी और ग्रामीण क्षेत्रों के निवासी खिलाड़ी भाग लेंगे । 
                </li>
                <li> उक्त प्रतियोगिता PPP माडल पर आधारित होगी जिसका वित्तपोषण स्पांसर्स के द्वारा किया जाएगा । प्रसाशन क्रिकेट महोत्सव के आयोजन मे प्रमुख भूमिका निभाएगा । </li>
                <li> प्रत्येक ग्राम पंचायत मे उसी ग्राम पंचायत के खिलाड़ियों से एक क्रिकेट टीम का गठन ग्राम पंचायत स्तरीय समिति द्वारा किया जाएगा । </li>
                <li> Level 1 स्तर पर ग्राम पंचायतों का न्याय पंचायत अनुसार समूह बनाकर उनके बीच राउन्ड रॉबिन आधार पर मैच कराया जाएगा । </li>
                <li> श्रेष्ठ  प्रदर्शन करने वाले खिलाड़ियों को निर्धारित मापदंड के आधार पर चुनकर Level 2 स्तर की न्याय पंचायत की टीम का गठन किया जाएगा । </li>
                <li> पुनः न्याय पंचायत की टीमों के बीच राउन्ड रॉबिन के आधार पर मैच आयोजित कराया जाएगा । </li>
                <li> Level 2 स्तर पर श्रेष्ठ प्रदर्शन करने वाले खिलाड़ियों को निर्धारित मापदंड के आधार पर चुनकर Level 3 स्तर की विकास खण्ड स्तर  की टीम का गठन किया जाएगा । </li>
                <li> Level 3 स्तर की  टीमों के बीच जनपद स्तर पर मैच आयोजित कराए जाएंगे जिनमे खिलाड़ियों को मार्गदर्शन देने हेतु कई राष्ट्रीय/अंतर्राष्ट्रीय क्रिकेट खिलाड़ियों को आमंत्रित किया  जाएगा । </li>
                <li> उत्कृष्ट खिलाड़ियों को सभी सुविधाओ से संतृप्त कर राष्ट्रीय/अंतर्राष्ट्रीय फलक पर स्थापित करने मे मदद की जाएगी । </li>
                <li> खिलाड़ियों को खेलने हेतु क्रिकेट किट की व्यवस्था आयोजन समिति द्वारा की जाएगी । </li>
                <li> प्रतियोगिता के  पारदर्शी और प्रभावी संचालन हेतु समर्पित वेबसाईट www.gcmt20.com डिजाइन किया गया है । खिलाडियों का रजिस्ट्रैशन, टीमों का गठन ,प्रतियोगिता की समय सरिणी आदि सभी क्रिया कलाप इसी वेबसाईट के माध्यम से होगा । </li>
                <li> इस क्रिकेट महोत्सव के शुभारंभ होने की अनुमानित तिथि 10 अक्टूबर 2021 है ।  </li>
            </ul>
            <h5>यह वृहद प्रतियोगिता मूल रूप से एक खुली प्रतियोगिता होगी । इस हेतु निम्न वर्ग/व्यक्ति प्रतियोगिता मे सहभागिता हेतु सादर आमंत्रित है</h5>
            <ul>
                <li> विकास खंड गोला,खजनी,जंगल कौड़िया और भरोहिया मे निवास करने वाले, आयु वर्ग 11-19 वर्ष के क्रिकेट खिलाड़ी जो अपने ग्राम पंचायत की टीम की ओर से खेलने हेतु इच्छुक है । संपर्क करने हेतु ब्लॉक स्तर के नोडल पॉइंट का नाम व संपर्क सूत्र संलग्न है । </li>
                <li> नगर निगम क्षेत्र के अंतर्गत वार्डों के  क्रिकेट खिलाड़ी जो अपने वार्ड के गठित होने वाली टीम की ओर से खेलने हेतु इच्छुक है । संपर्क करने हेतु वार्ड  स्तर के नोडल पॉइंट का नाम व संपर्क सूत्र संलग्न है । </li>
                <li> अम्पायर,स्कोरर,कमन्टैटर आदि जो इस वृहद प्रतियोगिता मे अपना बहुमूल्य योगदान देने हेतु इच्छुक है । संपर्क करने हेतु जनपद स्तर के नोडल पॉइंट का नाम,पता व संपर्क सूत्र संलग्न है । </li>
                <li> क्रिकेट मे रुचि रखने वाले कोई भी विशेसज्ञ/स्वयंसेवक/समाज सेवी आदि,किसी भी स्तर पर योगदान देने हेतु सादर आमंत्रित है । इस हेतु जनपद स्तर के नोडल पॉइंट का नाम,पता व संपर्क सूत्र संलग्न है । </li>
                <li> आयोजन मे प्रति विकास खण्ड अनुमानत 14.0 लाख रुपये का खर्च आएगा इन खर्च के वित्त पोषण  हेतु सभी इच्छुक व्ययक्ति /संस्था आदि सादर अमंत्रित  है । </li>
                

            </ul>
            <p>क्रिकेट प्रतियोगिता के इस आयोजन से जनपद मे खेल की संस्कृति का विकास होने के साथ ही युवाओ कि शारीरिक, मानसिक व सामाजिक क्षमता का भी विकास होगा । साथ ही युवाओ के सरकारी कार्यक्रमों व योजनाओ मे सहभागिता सुनिश्चित होगी जो ग्रामीण क्षेत्र के बहुमुखी विकास हेतु सहायक सिद्ध होगा । </p>
            <p>उक्त प्रतियोगिता विभिन्न विभागों यथा युवा कल्याण विभाग,नेहरू युवा केंद्र, खेल विभाग,राजस्व विभाग,शिक्षा विभाग,पंचायती राज विभाग,पुलिस विभाग आदि के समन्वय से आयोजित किया जाना है । </p>
        </div>
    </div>
</div>
